venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
build/
.dart_tool/.env
.venv/
backend/.venv/
node_modules/
backend/media/
backend/foto_prueba*.jpg
backend/1.jpg
backend/db.sqlite3
backend/staticfiles/
*.sqlite3